html{
  font-size: 18px;
color: white;
font-family: Helvetica sans-serif;
height: auto;
background-color: white;
}

.company{
  background-color: black;
  color: white;
  font-size: 1rem;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.company .container{
  display: flex;
    align-items: center;
    padding: 12px 0 12px 0.5rem;
}
.main-banner{
  background-image: url("C:\projects\secretagentsupply\resources\moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
.text-box{
  background-color: black;
width: 20rem;
margin-top: 9rem;
  }

  h4{
    font-size:1rem;
    margin-top: 2rem;
    font-family: Helvetica;
    font-weight: bold;
  }

  h1{
    font-size:2rem;
    margin-left: 3rem;
    margin-top: 0.25rem;
    font-weight: bold;
    font-family: Helvetica;
  }

  nav .container {
    background-color: firebrick;
    margin: 0.75rem 0;
  }

  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    list-style: none;
}

.products,
.business-info{
  display: flex;
    justify-content: space-between;
    margin: 3rem;
}

.product,
.product-watch,
.product-glasses{
  width: 30%;
}

.product-image {
    border: 4px solid black;
    padding: 2rem;
    height: 9rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
  display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem 0;
}

  .info{
  width: 35%;
  color: black;
  }

  .info .detail{
display: block;
background-color: black;
color: white;
padding: 1rem 2rem;
  }

footer{
  height: 5rem;
  text-align: left;
  background-color: black;
}
